<html>
<head>
<title>BMW MID character set</title>
<style>
	table {
		font-size: 18px;
		padding: 0px;
		background-color: #ccc;
	}
	table thead {
		background-color: #bbb;
	}
	table thead th.spacer {
		background: none;
	}
	table td {
		background-color: white;
		padding: 3px;
		font-family: "Courier New", Courier, monospace;
		color: black;
	}
	td.dec {
		text-align: right;
	}
	td.ascii {
		text-align: center;
		font-family: "bmwmid";
	}
	td.mid {
		text-align: center;
		font-family: "bmwmid";
	}
	td.mid img {
		/*background-color: black;*/
	}
	.test {
		font-size: 18px;
		font-family: "bmwmid";	
	}

	      @font-face {
  font-family: "bmwmid";
  src: url("./fonts/bmwmid.eot");
  src: url("./fonts/bmwmid.eot?#iefix") format("embedded-opentype"),
       url("./fonts/bmwmid.woff") format("woff"),
       url("./fonts/bmwmid.ttf") format("truetype"),
       url("./fonts/bmwmid.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "bmwmid";
    src: url("./fonts/bmwmid.svg#fontcustom") format("svg");
  }
}

</style>


</head>
<body>

<table cellspacing="1">
<thead>
	<tr>
	<th>DEC</th>
	<th>ASCII</th>
	<th>MID</th>
	<td class="spacer"></th>
	<th>DEC</th>
	<th>ASCII</th>
	<th>MID</th>
	<th class="spacer"></th>
	<th>DEC</th>
	<th>ASCII</th>
	<th>MID</th>
	<td class="spacer"></th>
	<th>DEC</th>
	<th>ASCII</th>
	<th>MID</th>
	</tr>
</thead>
<tbody>
<% for i in 0..63 %>
	<tr>
	<% for j in 0..3 %>
	<% id = i + (j * 64) %>
		<td class="dec"><%= id %></td>
		<td class="ascii"><%= '&#%03d;' % id %></td>
		<td class="mid"><% if File.exist?('out/%03d.svg' % id) %><img src="<%= '%03d.svg' % id %>" height="18px"/><% end %></td>
		<!--<td class="mid"><%= '&#61%03d;' % id %></td>-->
		<% if j < 3 %>
			<td class="spacer"></td>
		<% end %>
	<% end %>
	</tr>
<% end %>
</tbody>
</table>

<div class="test">David Fuchslin</div>
<div class="test">&#178;&#178;&#178;&#178;&#178;&#178;&#178;&#178;&#178;&#178;&#178;&#178;&#178;&#178;</div>

</body>
</html>